[submodule "bclib"]
	path = deps/bclib
	url = http://gitlab.stars-mine.com/hardware/bclib.git
	# url = https://github.com/louis-tru/bclib.git
	# url = https://gitlab.com/louis-tru/bclib.git

[submodule "mktool"]
	path = deps/mktool
	url = http://gitlab.stars-mine.com/hardware/mktool.git

[submodule "SmartHolder"]
	path = deps/SmartHolder
	url = https://github.com/NFTSwap/SmartHolder.git