[submodule "bclib"]
	path = deps/bclib
	url = https://github.com/louis-tru/bclib.git

[submodule "mktool"]
	path = deps/mktool
	url = http://github.com/louis-tru/mktool.git

[submodule "SmartHolder"]
	path = deps/SmartHolder
	url = https://github.com/NFTSwap/SmartHolder.git
