[Unit]
Description=mvp-ser
Documentation=http://gitlab.stars-mine.com/hardware/mvp-ser
After=network-online.target
Wants=network-online.target

[Service]
User=root
Environment=RUN_DAEMON=1 RUN_WORKERS=4 RUN_TARGET=web
ExecStart=/usr/local/bin/node /data/src/mvp-ser/out/mvp-ser
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target