[Unit]
Description=shs
Documentation=http://gitlab.stars-mine.com/hardware/shs
After=network-online.target
Wants=network-online.target

[Service]
User=root
Environment=RUN_DAEMON=1 RUN_WORKERS=8 RUN_TARGET=watch
ExecStart=/usr/local/bin/node /data/src/shs/out/shs
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target